:root{
    --primary: #07AB80;
    --secondary: #5b636e;
    font-size: 16px;
    /* overflow-x: hidden; */
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #fdfdfd;
}

header{
    background-color: var(--primary);
    font-family: 'Smokum', cursive;
}
#txt-over-img{
    padding: 20%;
}

#row-2{
    background-image: url(https://wallpapercave.com/wp/wp5586829.jpg);
    background-size: cover;
    min-height: 95vh;
}
#row-3{
    background-color: var(--primary);
}


/* All-important media queries */
@media (min-width: 768px) { 
    #skew-1{
        transform: translateY(80px);
    }
    #keep-your-dank{
        transform: translateY(60px);
    }
 }
@media (max-width: 768px) {
    #row-2{
        background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/190517103414-01-grumpy-cat-file-restricted.jpg);
        background-position: bottom;        
    }
    #row-3{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    #skew-1{
        transform: translateX(-15px);
    }
    #row-4{
        flex-direction: column;
    }

    #row-5{
        flex-direction: column;
        align-items: center;
    }   
    #row-6{
    flex-direction: column;
    align-items: center;
    }
    .card-1{
        min-width: 80%;
    } 
}


/* #row-4{

} */

#row-5{
    background-color: var(--secondary)
}

#row-6{
    background-color: var(--primary);
    min-height: 10vh;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: green;
    transition: .3s;}